userconfig=.npmrc
@omn:registry=https://ap-nexus-01.apollon.de/repository/libs-snapshot-npm-local/
@apollon:registry=https://ap-nexus-01.apollon.de/repository/libs-snapshot-npm-local/
//ap-nexus-01.apollon.de/repository/libs-snapshot-npm-local/:_authToken=NpmToken.dfe4c0e0-5d27-3cfd-b1fe-2233e45408a2
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=431ECB0C-5776-47E7-9A65-4F0FD6F3C598
//@fortawesome:registry=https://ap-nexus-01.apollon.de/repository/npm/
# commented due to issue with pages from Nexus registry=https://ap-nexus-01.apollon.de/repository/npm/
package-lock=false
