<apln-split direction="horizontal">
  <apln-split-area class="left" #leftComponentContainer
                   [size]="'30%'"
                   [visible]="true"
                   [minSizePixel]="300"
                   style="position: relative">
    <apln-navigation-bar>
      <apln-refresh-button
        aplnCustomTooltip
        [title]="'Refresh'"
      ></apln-refresh-button>
    </apln-navigation-bar>
    <apln-tool-bar [buttons]="[]">
    </apln-tool-bar>
    <div class="navigation-tree-wrapper">
    </div>
  </apln-split-area>
  <apln-split-area
    class="center"
    [minSizePixel]="1000"
    style="position: relative">
    <apln-navigation-bar>
      <apln-navigation-bar>
        <apln-refresh-button
          aplnCustomTooltip
          [title]="'UI-suite'"
        ></apln-refresh-button>
      </apln-navigation-bar>
    </apln-navigation-bar>
    <apln-tool-bar [buttons]="[]" [actionButtons]="[]"></apln-tool-bar>
  </apln-split-area>
</apln-split>

<apln-breadcrumbs [pathSegmentsButtons]="[]">
</apln-breadcrumbs>
