<apln-split direction="horizontal">
  <apln-split-area class="left"
                   [size]="350"
                   [visible]="true"
                   style="position: relative">
    <apln-navigation-bar>
      <apln-refresh-button
        aplnCustomTooltip
        [title]="'Refresh'"
      ></apln-refresh-button>
    </apln-navigation-bar>
    <apln-tool-bar [buttons]="[]">
    </apln-tool-bar>
    <div class="navigation-tree-wrapper">
      <app-tree></app-tree>
    </div>
  </apln-split-area>
  <apln-split-area
    class="center"
    [size]="1000"
    style="position: relative">
    <apln-navigation-bar>
      <apln-navigation-bar>
        <apln-refresh-button
          aplnCustomTooltip
          [title]="'UI-suite'"
        ></apln-refresh-button>
      </apln-navigation-bar>
    </apln-navigation-bar>
    <apln-tool-bar [buttons]="[]" [actionButtons]="[]"></apln-tool-bar>
    <app-table></app-table>
  </apln-split-area>
  <apln-split-area
    class="right"
    style="position: relative">
    <apln-navigation-bar>
      <apln-navigation-bar>
        <apln-refresh-button
          aplnCustomTooltip
          [title]="'Right panel'"
        ></apln-refresh-button>
      </apln-navigation-bar>
    </apln-navigation-bar>
    <apln-tool-bar [buttons]="[]" [actionButtons]="[]"></apln-tool-bar>
    <app-details></app-details>
  </apln-split-area>
</apln-split>

<apln-breadcrumbs [pathSegmentsButtons]="[]">
</apln-breadcrumbs>
